<!DOCTYPE html>
<html lang="en" ng-app="xatu">
<head>
    <meta charset="UTF-8">
    <title>xatu</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../app/vendor/highlightjs/default.min.css">
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/helpers.css">
</head>
<body>
    <div ng-view></div>

    <script>
        // loading jquery to window object
        window.$ = window.jQuery = require('../bower_components/jquery/dist/jquery');
    </script>

    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../bower_components/ngstorage/ngStorage.js"></script>

    <!-- app -->
    <script src="../app/app.js"></script>
    <script src="../app/controllers/main.js"></script>
    <script src="../app/services/request.js"></script>
    <script src="../app/directives/hljs.js"></script>
</body>
</html>
